.dropdown {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-100%);
  transition: 0.3s;
}

.active-dropdown {
  transform: translateY(0%);
}

.dropdown-box {
  width: 300px;
  background-color: var(--bg-gray);
  padding: 15px 0;
  border-radius: 10px;
  box-shadow: rgba(14, 14, 14, 0.2) 0px 2px 8px 0px;
  position: relative;
}

.dropdown-box:hover {
  filter: brightness(1.1);
}

.dropdown-close-btn {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 10px;
  cursor: pointer;
}
