.create-ticket {
  padding: 20px;

  h3 {
    margin-bottom: 20px;
  }

  input {
    width: 100%;
    background-color: transparent;
    padding: 8px 16px;
    border: solid 1px var(--bg-lines);
    border-radius: 6px;
    color: var(--text);
    outline: none;
    margin: 10px 0;

    &:focus {
      border-color: var(--primary);
    }

    &::placeholder {
      color: var(--bg-lines);
    }
  }

  button {
    background-color: var(--primary);
    color: var(--text);
    border: none;
    padding: 10px 0;
    width: 100%;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 6px;

    &:hover {
      filter: brightness(1.1);
    }
  }
}
