.ticket {
  background-color: var(--bg-gray);
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  cursor: pointer;

  h3 {
    color: var(--text-lines);
  }

  p {
    color: var(--text-gray);
  }

  ul {
    margin: 0;
    padding: 0 30px;
  }
  li {
    font-size: 13px;
    color: var(--text-gray);
  }
}

.ticket:hover {
  filter: brightness(1.1);
}
