.board {
  flex: 1;
  padding: 24px 24px;
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(3, 280px);
  //   grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

@media screen and (max-width: 880px) {
  .board {
    grid-template-columns: 1fr;
  }
}

.board-column {
  border: 1px solid pink;
}
