.navbar {
  padding: 20px;
  border-bottom: 1px solid #373846;
  background-color: var(--bg-gray);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-icon {
  width: 300px;
  display: flex;
  gap: 10px;
  h2 {
    font-size: 2rem;
    line-height: 22px;
  }
}

.navbar-boarder {
  flex: 1;
  display: flex;
  align-items: center;

  img {
    max-width: 20px;
  }
}

.navbar-add-ticket {
  display: flex;
  justify-content: space-between;

  button {
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    font-size: 12px;
    line-height: 15px;
    width: 100%;
    background-color: var(--primary);
    color: var(--text-lines);
    cursor: pointer;
  }
}

@media screen and (max-width: 800px) {
  .navbar-icon {
    width: auto;
    h2 {
      display: none;
    }
  }
  .navbar-boarder {
    h2 {
      padding: 0 10px;
    }
    img {
      display: block;
    }
  }
}
