.sidebar {
  background-color: var(--bg-gray);
  min-height: 100vh;
  width: 300px;
  border-right: 1px solid #373846;

  p {
    padding: 15px 30px;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 1.5px;
    color: var(--text-gray);
  }
}
