* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}

:root {
  --primary: #635fc7;
  --primary-dimmed: #a8a4ff;
  --secondary: #ea5555;
  --secondary-dimmed: #ff9898;
  --bg: #000112;
  --bg-dark-gray: #20212c;
  --bg-gray: #2b2c37;
  --bg-lines: #3e3f4e;
  --text-gray: #828fa3;
  --text-lines: #e4ebfa;
  --text-dimmed: #f4f7fd;
  --text: #ffffff;
}

.light {
  --primary: #635fc7;
  --primary-dimmed: #a8a4ff;
  --secondary: #ea5555;
  --secondary-dimmed: #ff9898;
  --bg: #fff;
  --bg-dark-gray: #20212c;
  --bg-gray: red;
  --bg-lines: #3e3f4e;
  --text-gray: #828fa3;
  --text-lines: #e4ebfa;
  --text-dimmed: #f4f7fd;
  --text: #ffffff;
}

body {
  background-color: var(--bg-dark-gray);
  color: var(--text);
}

.heading-xl {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}
.heading-l {
  font-size: 18px;
  line-height: 23px;
  font-weight: 700;
}
.heading-m {
  font-size: 15px;
  line-height: 19px;
  font-weight: 700;
}
.heading-s {
  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
  letter-spacing: 2.4px;
}

.body-l {
  font-size: 13px;
  line-height: 23px;
  font-weight: 500;
}

.body-m {
  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
}
